.vert-menu li{
	list-style: none;
	margin: none;
	padding: none;
}
.vert-menu a{
	display: block;
	width: 150px;
	height: 30px;
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	background-color: #203c2d;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 10px;
}
.vert-menu a:hover{
	color:red;
}

.gorizont-menu li {
	display: inline-block;
	list-style: none;
	margin: none;
	padding: none;
}
.gorizont-menu a{
	display: block;
	width: 150px;
	height: 30px;
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	background-color: #e94102;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 10px;
}
.gorizont-menu a:hover{
	color: #31475e;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.jump-menu > li {
	display: inline-block;
	position: relative;
}
.jump-menu > li:last-child {
}
a {
	display: block;
	width: 150px;
	height: 30px;
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	background-color: #429b49;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 10px;
}

.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}
.jump .submenu {
	display: none;
}
.jump ul li:hover
.submenu {
	display: block;
}
.jump-menu a:hover{
	color: 31475e;
}