.container {
	width: 1000px;
	height: 625px;
	margin-left: 50px;
	background-color: #ffffff;
	border: 2px solid #31475e;
	border-radius: 25px;
}
.container1 {
	width: 300px;
	height: 600px;
	float: left;
}
.cat1 img{
	padding: 20px;
	border: 2px solid #31475e;
	border-radius: 20px;
	height: 350px;
	margin: 10px 0 0 10px;
}
.butt {
	width: 280px;
	height: 55px;
	margin: 7px 0 0 13px;
	border-radius: 10px;
	font-family: Luminari, fantasy;
	font-size: 20px;
	color: #f3f4ef;
}
.butt:hover {
	width: 283px;
	height: 57px;
	margin: 7px 0 0 13px;
	border-radius: 10px;
	font-family: Luminari, fantasy;
	font-size: 20px;
	color: #000000;
	border: 0px;
}
.but1 {
	background-color: #3199dc;
}
.but2 {
	background-color: #2acd72;
}
.but3 {
	background-color: #e84b39;
}
.but1:hover {
	background-color: #1E90FF;
}
.but2:hover {
	background-color: #32CD32;
}
.but3:hover {
	background-color: red;
}
.but{
	letter-spacing: 10px;
	font-size: 10px;
}
.container2 {
	float: left;
}
.table {
	width: 700px;
	height: 390px;
	margin-top: 10px;
}
.tb1 {
	background-color: #31475e;
	height: 60px;
	width: 590px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border: 1px solid #000;
	display: block;
}
.tb2 {
	background-color: #ffffff;
	height: 60px;
}
.tb3 {
	background-color: #edf0f1;
	height: 60px;
}
.s1 {
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
.s2 {
	color: grey;
	float: left;
	font-family: sans-serif;
	padding-left: 170px;
}
.s3 {
	color: grey;
	float: left;
	font-family: sans-serif;
	padding-left: 123px;
}
.s4 {
	color: grey;
	float: left;
	font-family: sans-serif;
	padding-left: 67px;
}
.s5 {
	color: grey;
	float: left;
	font-family: sans-serif;
	padding-left: 95px;
}
.ss {
	float: left;
	font-family: sans-serif;
	padding-left: 50px;
}
.alb {
	padding-top: 17px;
}
.cat2 img{
	padding: 20px;
	border: 2px solid #31475e;
	border-radius: 20px;
	height: 150px;
}
.cat2 img:hover{
	padding: 20px;
	border: 2px solid #31475e;
	border-radius: 10px;
	height: 150px;
}