@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 38px;
    height: 38px;
    float: left;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 14px 14px 0;
    padding: 7px 7px 6px 6px;
	margin-left: 6px;
    color: #000;
}
img{
	width: 300px;
	height: 200px;
}
figure{
	display: inline-block;
	text-align: center;
}
figcaption {
    color: red;
}
.up{
	background-color: lightgray;
	height: 400px;
	padding-top: 0px; 
}
.gor1 li{
	display: inline-block;
	float: right;
}
.gor1 a{
	display: block;
	color: #000;
	text-decoration: none;
	font-family: Times New Roman;
	font-size: 12pt;
	padding-right: 40px;
	padding-top: 15px;
}
.gor1 a:hover{
	color: red;
}
.i1{
	width:100%;
	height: 300px;
	padding-top: 15px;
}
.gor2 li{
	padding-top: 0px;
	display: inline-block;
	float: left;
}
.gor2 a{
	display: block;
	color: #000;
	text-decoration: none;
	font-family: Times New Roman;
	font-size: 12pt;
	padding-right: 40px;
}
.gor2 a:hover{
	color: red;
}
.midle{
	height: 800px;
}
.midle h1{
	text-align: center;
}
.da{
	padding: 8px 0px 0px;
	margin-left: 90px;	
	background: #ffffff;
	border: 2px solid black;
	border-radius: 10px;
}
.da1{ 
	padding: 8px 0px 0px;
	background: #ffffff;
	border: 2px solid black;
	border-radius: 10px;
}
.da2{
	margin: 10px 9px 4px;
}
.pod{
	text-align:center;	
}
.vid{
	display: block;
	padding-left: 450px;
}
.down{
	text-align:center;
	background-color: lightgray;
	height: 100px;
}
.twitter a:hover {
	background: #00acee; color: #fff;
}
.instagram a:hover {
	background: #e84179; color: #fff;
}
.vk a:hover {
	background: #5d84ae; color: #fff;
}