body{
	background-image: url(fon.jpg);
}
.card{
	width: 225px;
	height: 350px;
	background-color: #FFFFFF;
	margin: 100px;
	border-radius: 10px;
	margin-left: 104px;
}
img{
	height: 25px;
	margin-left: 5px;
}
.card::before {
	content: "A";
	position: absolute;
	top: 5px;
	left: 5px;
	color: black;
	font-size: 30px;
	padding-bottom: 20px;
	margin-left: 5px;
	background-image: url(piki.jpg);
	background-position: 50% 100%;
	background-size: 20px;
	background-repeat: no-repeat;
}
.card{
	position: relative;
	background-image: url(piki.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
}
.card::after {
	content: "A";
	position: absolute;
	top: 300px;
	transform: rotate(180deg);
	left: 167px;
	color: black;
	font-size: 30px;
	padding-bottom: 15px;	
	margin-left: 28px;
	background-image: url(piki.jpg);
	background-position: 50% 100%;
	background-size: 20px;
	background-repeat: no-repeat;
}