@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
img{
	width: 230px;
	height: 210px;
}
figure{
	display: inline-block;
	text-align: center;
}
header{
	height: 700px;
}
footer {
	height: 150px;
	background-color:#036432;
}
body{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.gor_1 a{
	font-family: "Arial", sans-serif;
	color: #ffffff;
	text-decoration: none;
	display: block;
	margin-right: 35px;
	font-size: 14pt;
}
.gor_1 a:hover{
	color: red;
}
.gor_1 li{
	display: inline-block;
	float: right;
	position: relative;
	right: 400px;
}
.up_1_navig {
	background-color: #046434;
	height: 50px;
	width: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
}
.im_1{
	height: 700px;
	background-image: linear-gradient(93deg, transparent 56%, #fff 86%), url(17.jpg);
	background-size: auto, cover;
	background-position: center;
	background-repeat: no-repeat;
}
.glav{
	color: #ed9005;
	font-size: 60px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-shadow: 1px 2px 3px #000000;
	font-weight: bold;
	margin-top: 50px;
}
.tex_im_1{
	margin: 0px 200px 0px 0px;
	text-align: right;
}
.tex_im_1 p {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.twert1{
	font-size: 60px;
	margin-top: 30px;
	font-weight: bold;
}
.twert2{
	color: #ed9005;
	text-shadow: 1px 2px 3px #000000;
	font-size: 40px;
	font-weight: bold;
}
.twert3{
	font-size: 30px;
	font-weight: bold;
}
.twert4{
	color: #ed9005;
	text-shadow: 1px 2px 3px #000000;
	font-size: 30px;
	font-weight: bold;
}
.tex1{
	padding-top: 30px;
	height: 120px;
	margin: 0px 0px 0px 0px;
	background-color: #f1ecb4;
	font-family: "Arial", sans-serif;
}
.tex{
	text-align: center;
	font-size: 14pt;
	font-family: "Arial", sans-serif;
	color: #e6750f;
}
.se1{
	margin-top: 200px;
}
.tex_1{
	text-align: center;
}
.miniim{
	display: flex;
	justify-content: center;
}
.da{
	padding: 8px 0px 0px;
	background: #ffffff;
	border: 2px solid red;
	border-radius: 8px;
}
.da1{
	padding: 8px 0px 0px;
	background: #ffffff;
	border: 2px solid red;
	border-radius: 8px;
}
.da2{
	margin: 10px 9px 4px;
}
.tex2{
	padding-top: 30px;
	height: 210px;
	margin: 60px 0px 0px 0px;
	background-color: #f1ecb4;
}
.im_2{
	height: 550px;
	background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ) ,url(5.jpg);
	background-size: auto, cover;
	background-repeat: no-repeat;
	background-attachment: scroll, fixed;
	background-position: center;
}
.tex3{
	padding-top: 30px;
	height: 210px;
	margin: 0px 0px 0px 0px;
	background-color: #f1ecb4;
}
.im_3{
	height: 450px;
	background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ) ,url(6.jpg);
	background-size: auto, cover;
	background-repeat: no-repeat;
	background-attachment: scroll, fixed;
	background-position: center;
	padding-top: 100px;
}
.first{
	text-align: center;
	text-decoration: none;
}
.knopka{
	border-radius: 4px;
	color: #ffffff;
	background-color: red;
	padding: 3px 3px 3px 3px;
}
.tex4{
	padding-top: 30px;
	height: 240px;
	margin: 0px 0px 0px 0px;
	background-color: #f1ecb4;
	text-align: center;
}
.twertS{
	text-align: center;
	color: #ed9005;
	text-shadow: 1px 2px 3px #000000;
	font-size: 40px;
	font-weight: bold;
}
.verdow{
	margin-top: 0px;
	height: 200px;
	background-color: #046434;
}
.vrd2{
	padding-top: 20px;
	color: #ffffff;
	text-align: center;
	display: flex;
	justify-content: center;
}
.vrd1{
	padding-top: 30px;
	color: #ffffff;
	text-align: center;
	display: flex;
	justify-content: center;
}
.vrd{

}
.social a {
	text-align: center;
	width: 38px;
	height: 38px;
	float: left;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
	border-radius: 24px;
	margin: 0 14px 14px 0;
	padding: 7px 7px 6px 6px;
	margin-left: 6px;
	color: #000;
}
.youtube a:hover {
	background: #c4302b; color: #fff;
}
.twitter a:hover {
	background: #00acee; color: #fff;
}
.instagram a:hover {
	background: #e84179; color: #fff; 
}
.vk a:hover {
	background: #5d84ae; color: #fff;
}
.telegram a:hover {
	background: #249bd7; color: #fff;
}
.uty{
	color: white;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}
.middow{
	background-image: linear-gradient(transparent 1%, rgba(37,37,37,0.79)), url(17.jpg);
	background-size: auto, cover;
	height: 300px;
	padding-top: 150px;
	text-align: center;
	background-attachment: scroll, fixed;
	background-position: center;
}
.down{
	height: 700px;
}