h1{
	color: rgb(230, 22, 22);
}
fieldset{
	border-radius: 7px;
	border-color: rgb(221, 6, 6);
	color: black;
	padding-left: 30px;
	position: relative;
	border-width: 1px;
	width:60%;
}
.second{
	margin-top: 20px;
}
legend{
	color: blue;
}
.one{
	margin-left: 78px;
}
.two{
	margin-left: 71px;
	margin-top: 5px;
}
.three{
	margin-left: 119px;
	margin-top: 5px;
}
.four{
	margin-left: 137px;
	margin-top: 5px;
}
.five{
	padding-left: 200px;
}
div{
	float: left;
}
.thridth{
	padding-top: 10px;
	padding-left: 10px;
}
.fon{
	
}